extends ../shared/layout

block content
  .container
    h2
      p.pr.muted.small(style="font-size:45%;") #{moment(blog.created_date).format('MMMM Do YYYY, h:mm:ss a')}
      a(href="/blog/#{blog.id}") !{marked(blog.title)}
    hr
    if (blog.body)
      P !{marked(blog.body)}
    if (hasRoleOf('admin'))
      .well
        a(href="/admin/blog/#{blog.id}") Edit Blog?